.table--footer {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding: 20px;
}

.table--footer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.table--footer__pages {
  cursor: pointer;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 5px 10px;
  height: fit-content;
  font-weight: 400;
}

.table--footer__pages.active {
  background-color: #2f80ed;
  color: white;
  border: none;
}

.table--footer__pages:hover {
  background-color: #5398ff;
  color: black;
}
